In [1]:
import pandas as pnd

C:\Users\User\AppData\Local\Temp\ipykernel_15616\1878557931.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pnd

In [4]:
plano = pnd.read_csv('CalificacionesTXT.csv', sep= ',', encoding='ISO-8859-1')

In [5]:
plano

,ITEM,NOMBRES,APELLIDOS,Programa,Genero,Matematicas,EspaÃ±ol,Ciencias,Idiomas
0,1,Juan,GarcÃ­a,Contabilidad,Masculino,"1,66","2,19","3,56","2,58"
1,2,MarÃ­a,PÃ©rez,Mercadeo,Femenino,"3,21","2,54","1,98","3,76"
2,3,Pedro,FernÃ¡ndez,Sistemas,Masculino,"3,10","3,11","2,62","2,42"
3,4,Ana,SÃ¡nchez,Administracion,Femenino,NaN,"2,50","3,66","1,93"
4,5,Luis,GonzÃ¡lez,Salud,Masculino,"2,91","2,59","2,45",NaN
5,6,LucÃ­a,MartÃ­nez,Salud,Femenino,"3,95","1,88","2,67","1,69"
6,7,Diego,LÃ³pez,Administracion,Masculino,"4,20","1,69","2,36","3,24"
7,8,Fernanda,Torres,Sistemas,Femenino,"4,08","1,68","4,16","2,94"
8,9,Miguel,Flores,Mercadeo,Masculino,"4,06","3,64",NaN,"3,28"
9,10,Carolina,HernÃ¡ndez,Contabilidad,Femenino,"2,55","3,75","1,84","3,17"
10,11,SofÃ­a,DÃ­az,Contabilidad,Femenino,"1,79","3,94","3,70","2,16"
11,12,Javier,Romero,Mercadeo,Masculino,NaN,"2,47","2,25",NaN
12,13,Valeria,Ruiz,Sistemas,Femenino,"3,27","1,91","3,40","2,27"
13,14,Elena,Ãlvarez,Administracion,Femenino,"2,43","3,22","2,27","2,36"
14,15,AndrÃ©s,GÃ³mez,Salud,Masculino,"3,59","3,27","1,97","2,41"
15,16,Pedro,LÃ³pez,Contabilidad,Masculino,"4,08","1,68","4,16","2,94"
16,17,Ana,Torres,Mercadeo,Femenino,"4,06","3,64","4,31","3,28"
17,18,Luis,Flores,Sistemas,Masculino,"2,55","3,75","1,84","3,17"
18,19,LucÃ­a,GÃ³mez,Sistemas,Femenino,"1,79","3,94","3,70","2,16"
19,20,Alvaro,Perez,Sistemas,Masculino,"4,05",5,"3,7",4

In [6]:
plano.head()

,ITEM,NOMBRES,APELLIDOS,Programa,Genero,Matematicas,EspaÃ±ol,Ciencias,Idiomas
0,1,Juan,GarcÃ­a,Contabilidad,Masculino,"1,66","2,19","3,56","2,58"
1,2,MarÃ­a,PÃ©rez,Mercadeo,Femenino,"3,21","2,54","1,98","3,76"
2,3,Pedro,FernÃ¡ndez,Sistemas,Masculino,"3,10","3,11","2,62","2,42"
3,4,Ana,SÃ¡nchez,Administracion,Femenino,NaN,"2,50","3,66","1,93"
4,5,Luis,GonzÃ¡lez,Salud,Masculino,"2,91","2,59","2,45",NaN

In [7]:
plano.tail()

,ITEM,NOMBRES,APELLIDOS,Programa,Genero,Matematicas,EspaÃ±ol,Ciencias,Idiomas
15,16,Pedro,LÃ³pez,Contabilidad,Masculino,"4,08","1,68","4,16","2,94"
16,17,Ana,Torres,Mercadeo,Femenino,"4,06","3,64","4,31","3,28"
17,18,Luis,Flores,Sistemas,Masculino,"2,55","3,75","1,84","3,17"
18,19,LucÃ­a,GÃ³mez,Sistemas,Femenino,"1,79","3,94","3,70","2,16"
19,20,Alvaro,Perez,Sistemas,Masculino,"4,05",5,"3,7",4

In [8]:
plano.describe()

           ITEM
count  20.00000
mean   10.50000
std     5.91608
min     1.00000
25%     5.75000
50%    10.50000
75%    15.25000
max    20.00000

In [9]:
plano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ITEM         20 non-null     int64
 1   NOMBRES      20 non-null     object
 2   APELLIDOS    20 non-null     object
 3   Programa     20 non-null     object
 4   Genero       20 non-null     object
 5   Matematicas  18 non-null     object
 6   EspaÃ±ol     20 non-null     object
 7   Ciencias     19 non-null     object
 8   Idiomas      18 non-null     object
dtypes: int64(1), object(8)
memory usage: 1.5+ KB

In [10]:
plano.dropna()

,ITEM,NOMBRES,APELLIDOS,Programa,Genero,Matematicas,EspaÃ±ol,Ciencias,Idiomas
0,1,Juan,GarcÃ­a,Contabilidad,Masculino,"1,66","2,19","3,56","2,58"
1,2,MarÃ­a,PÃ©rez,Mercadeo,Femenino,"3,21","2,54","1,98","3,76"
2,3,Pedro,FernÃ¡ndez,Sistemas,Masculino,"3,10","3,11","2,62","2,42"
5,6,LucÃ­a,MartÃ­nez,Salud,Femenino,"3,95","1,88","2,67","1,69"
6,7,Diego,LÃ³pez,Administracion,Masculino,"4,20","1,69","2,36","3,24"
7,8,Fernanda,Torres,Sistemas,Femenino,"4,08","1,68","4,16","2,94"
9,10,Carolina,HernÃ¡ndez,Contabilidad,Femenino,"2,55","3,75","1,84","3,17"
10,11,SofÃ­a,DÃ­az,Contabilidad,Femenino,"1,79","3,94","3,70","2,16"
12,13,Valeria,Ruiz,Sistemas,Femenino,"3,27","1,91","3,40","2,27"
13,14,Elena,Ãlvarez,Administracion,Femenino,"2,43","3,22","2,27","2,36"
14,15,AndrÃ©s,GÃ³mez,Salud,Masculino,"3,59","3,27","1,97","2,41"
15,16,Pedro,LÃ³pez,Contabilidad,Masculino,"4,08","1,68","4,16","2,94"
16,17,Ana,Torres,Mercadeo,Femenino,"4,06","3,64","4,31","3,28"
17,18,Luis,Flores,Sistemas,Masculino,"2,55","3,75","1,84","3,17"
18,19,LucÃ­a,GÃ³mez,Sistemas,Femenino,"1,79","3,94","3,70","2,16"
19,20,Alvaro,Perez,Sistemas,Masculino,"4,05",5,"3,7",4

In [12]:
planofinal = plano.dropna()

TypeError: "delimiter" must be a 1-character string